<!DOCTYPE html>
<html>
<body>

<h2>Users Control Module</h2>
<h3>Insert one user: </h3>
<form action="/" method="post">
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Address:<br>
  <input type="text" name="address">
  <br>
  City:<br>
  <input type="text" name="city">
  <br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
